@import url('https://fonts.googleapis.com/css2?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=SUSE');
@import url('https://fonts.googleapis.com/css2?family=Sevillana');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url(../asset/body-bg.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}

:root {
    --primary-color: #cd2c22;
    --secondary-color: #8b3eea;
    --third-color: #001834;
    --fourth-color: #ffffff;
    --fifth-color: #161616;
    /*fonts*/
    --primary-font: SUSE;
    --secondary-font: Rubik;
    --third-font: Sevillana;
}

.row {
    width: 1240px;
    margin: auto;
    padding: 100px 20px;
}

.column {
    flex: auto;
}

.d-flex {
    display: flex;
}

.flex {
    display: flex;
}

p,
li,
a {
    font-family: var(--secondary-font);
    line-height: 2;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    line-height: 1.35;
    margin: 0;
    padding: 0;
    color: var(--fifth-color);
}

h1 {
    font-family: var(--third-font);
    font-size: 44px;
    font-weight: 400;
    text-shadow: 0px 5px 3px rgba(20, 20, 20, 0.7);
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeInLeft 3s forwards;
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

h2 {
    padding: 10px 0;
    font-size: 35px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}

a {
    color: var(--fifth-color);
    text-decoration: none;
}

button {
    font-family: var(--secondary-font);
    line-height: 2;
    font-size: 17px;
    font-weight: 700;
    margin: 10px 0;
    padding: 0;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--fourth-color);
    background-color: var(--primary-color);
    border: none;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
}

.gap {
    gap: 40px;
}

.gap1 {
    gap: 20px;
}

.gap2 {
    gap: 10px;
}

@media only screen and (max-width: 1024px) {
    .row {
        width: 100% !important;
        padding: 40px 20px !important;
        margin: auto !important;
    }

    h1 {
        font-size: 30px !important;
    }

    h2 {
        font-size: 26px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    .d-flex {
        flex-direction: column !important;
    }

    .gap, .gap1, .gap2 {
        gap: 0 !important;
    }

    button {
        font-size: 16px !important;
    }

    .cta .column {
        width: 100% !important;
    }

    .mainslider .slide img {
        width: 350px !important;
    }

    .services {
        clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%) !important;
    }

    .offer .right {
        border-radius: 0 0 15px 15px !important;
        padding: 25px !important;
    }

    .uspsection {
        .left {
            width: 100% !important;
        }

        .data {
            grid-template-columns: 1fr !important;
        }
    }

    .intro {
        p {
            width: 100% !important;
        }
    }

    header {
        .head1 {
            display: none;
        }

        .head {
            width: 100% !important;
            background-color: rgba(20, 20, 20, 0.5);
        }
        i {
            display: block !important;
            color: var(--fourth-color);
            font-size: 20px;
            text-align: right;
        }

        #on, #off {
            display: block !important;
        }

        .nav {
            display: none;
            position: absolute !important;
            background-color: var(--primary-color);
            padding: 40px 20px;
            right: 0;
            top: 0;
            width: 50%;
            height: 100vh;
        }

        ul {
            margin-top: 30px;
            flex-direction: column;
        }

        li a {
            font-size: 20px !important;
        }

        .navHide {
            display: none;
        }

        .navShow {
            display: block !important;
        }
    }

    .bg1 .row {
        padding-top: 125px !important;
    }

    .mobilecta {
        display: block !important;
    }

    footer {
        margin-bottom: 100px;
        h4 {
            margin-top: 20px;
        }
    }
}